.contact {
    min-height: 100vh;
    background-color: $primary;
    h2 {
        text-align: center;
    }

}
.formWrapper {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    

    textarea {
        width: 100%;
        resize: none;
    }
    .formInputs {
        width: 100%;
        display: flex;
        margin: 20px 0;
        
    }
    .nameInput,
    .emailInput {
        margin: 0;
        padding: 0;
        width: 50%;
        text-align: center;
    }
    .buttonInput {
        width: 30%;
        margin: 20px 0;
    }
}
