main {
    background-color: $secondary;
}
.home {
    background-color: $primary;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        user-select: none;
    }
    h1 {
        color: black;
        user-select: none;
    }
}
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeImage {
    padding: 50px;
}
