@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes sign {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(-10deg);}
    60% {transform: rotate(10deg);}
    80% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes colorChange {
  0% { color: $orange; }
  25% { color: $blue; }
  50% { color: $green; }
  75% { color: $orange; }
  100% { color: $blue; }
}

@keyframes run {
  0% {
    right: 0;
  }
  48% {
    transform: rotateY(0deg); 
  }
  50% { 
    right: calc(100% - 100px);
    transform: rotateY(180deg); 
  }
  98% {
    transform: rotateY(180deg); 
  }
  100% {
    right: 0;    
     transform: rotateY(0deg);
  }
}
// @keyframes wobbleR {
//   0% {
//     transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
//   }
//   15% {
//     transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -80deg)
//   }
//   30% {
//     transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 80deg)
//   }
//   45% {
//     transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -120deg)
//   }
//   60% {
//     transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 120deg)
//   }
//   75% {
//     transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -20deg)
//   }
//   100% {
//     transform: translate3d(0, 0, 0) rotate3d(0, 0, 1,)
//   }
// }
// @keyframes wobbleA {
//   0% {
//     transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   15% {
//     transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   30% {
//     transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   45% {
//     transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   60% {
//     transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   75% {
//     transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   100% {
//     transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 720deg)
//   }
// }
// @keyframes wobbleD {
//   0% {
//     transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, 3deg)
//   }
//   15% {
//     transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, 220deg)
//   }
//   30% {
//     transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   45% {
//     transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   60% {
//     transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 360deg)
//   }
//   75% {
//     transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1,)
//   }
//   100% {
//     transform: translate3d(0, 0, 0) rotate3d(0, 0, 1,)
//   }
// }



// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// @keyframes blink-caret {
//     from, to { border-color: orange }
//     50% { border-color: transparent }
// }