@media (max-width: 1080px) {

    .navListContainer li {
        padding-left: 25px;
        transition: all 0.2s linear;
    }
    .navTitle h4 {
        font-size: 1.1rem;
        transition: all 0.2s linear;
    }
    .aboutRightImages .textPC img {
        height: calc(100% / 2 - 40px);
        width: calc(100% / 5);
        min-height: 10px;
        min-width: 10px;
        &:hover {
            scale: 1.5;
        }
    }
    .aboutRightImages .hoverIconContainer {
        justify-content: center;
    }
    .boxText .re {
        font-size: 0.85rem;
    }
    .skillsIcons li {
        width: calc(100% / 4);
        min-width: 40px;
        transition: all 0.2s linear;
        i {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .skillsWrapper {
        h5 {
            font-size: 2.25rem;
        }
    }
    .skillsText {
        img {
            display: none;
        }
    }
    .formWrapper {
        flex-direction: column;
        align-items: center;
    }
    .formText {
        width: 80%;
        justify-content: center;
        h2 {
            text-align: center;
        }
        a {
            display: flex;
            justify-content: center;
        }
        p {
            text-align: center;
        }
    }
    form {
        width: 70%;
        margin: 20px 0;

    }
    .formText {
        padding: 100px 0;
    }

    .formText .emailLink {
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }
    .contactSocials {
        justify-content: center;
    }
    .aboutTop .topText {
        width: 60%;
        transition: all 0.2s linear;
    }
    form .formButtons {
        justify-content: center;
    }
    
}