header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: rgb(17, 15, 15);
    position: fixed;
    top: 0px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
}
.navFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navTitle h4 {
    color: $headingColorAlt;
}

.navAnimation {
    visibility: hidden;
    top: -10vh;
}
.navListContainer {
    display: flex;
    justify-content: space-around;
    li {
        padding-left: 50px;
    }
    a {
        text-decoration: none;
        color: $headingColorAlt;
        &:hover {
            color: $blue;
        }
    }
}
.navButtonContainer {
    position: fixed;
    top: 4%;
    right: -2vh;
    transition: top 0.5s linear;
    .navButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 70px;
        background: transparent;
        border: none;

        
        img {
            height: 30px;
            width: 30px;
        }
    }
}
.buttonAnimation {
    top: -1vh;
    transition: all 0.2s linear;
        &:hover {
            transform: scale(1.5);
        }
}


