.skills {
    min-height: 60vh;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20vh 0;
    border-top-left-radius: 95% 2%;
    border-top-right-radius: 95% 2%;
    border-bottom-left-radius: 95% 2%;
    border-bottom-right-radius: 95% 2%;

}
.skillsText span {
    position: relative;
}
.skillsText img {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 10px;
}
.leftSkills {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.rightSkills {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.skillsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h2 {
        margin-bottom: 20px;
    }
    h4 {
        font-size: 2rem;
        font-weight: $light;
        margin-bottom: 50px;
        transition: all 0.3s linear;
    }
    h5 {
        position: relative;
        font-size: 3.6rem;
        text-transform: uppercase;
        margin: 0;
        color: black;
        transition: all 4s ease-in;
        user-select: none;
        display: block;
        
    }
}

.skillsIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.2s linear;
        color: transparent;
        margin-top: 20px;
        width: calc(100% / 4);
        min-width: 100px;
        &:hover {
            transform: scale(1.35);
            color: $orange;
            animation: colorChange 2s infinite;
        }
    }
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin: 20px 35px 5px 35px;
        color: black;
    }

}

.extrasContainer {
    position: relative;
    display: flex;
    img {
        height: 70px;
        width: 70px;
        margin: 10px 30px 12px 30px;
        transition: all .5s linear;
        &:hover {
            transform: scale(1.35);
            color: $orange;
        }
    }
}
.boxContainer {
    position: relative;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;

    .boxOpen{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 110px;
        width: 110px;
        opacity: 1;
        z-index: 10;
        transition: all 0.4s linear;
    }

    .boxClosed {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        left: 0;
        right: 0;
        height: 110px;
        width: 110px;
        transition: all 0.2s linear;
        z-index: 20;
        opacity: 1;
        &:hover {
            cursor: url('../assets/questionmark.png'), auto;	
            transform: scale(1.35);
            animation: shake 0.6s;
            animation-iteration-count: infinite;
            color: $orange;
            
        }

    }
    .boxFade {
        opacity: 0;
        transition: all 0.2s linear;
    }
    .boxAppear {
        opacity: 0;
        scale: 1.2;
    }
    
}
.imageStartPosition {
        position: absolute;
        height: 90px;
        width: 90px;
        left: -65px;
        top: -100px;
        opacity: 0;
        z-index: 1;
    }
.hiddenR {
    opacity: 1;
    position: absolute;
    top: 10px;
    transform: rotate(-360deg);
}
.hiddenA {
    opacity: 1;
    position: absolute;
    top: 10px;
    left: -200px;
    transform: rotate(360deg);
}
.hiddenD {
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 70px;
    transform: rotate(360deg);
}
.finalR {
    opacity: 1;
    position: absolute;
    top: -100px;
}
.finalA {
    opacity: 1;
    position: absolute;
    top: -100px;
    left: -200px;
}
.finalD {
    opacity: 1;
    position: absolute;
    top: -100px;
    left: 70px;
}
.boxText {
    span {
        margin: 0 25px;
       
    }
    .re {
        margin-right: 15px;
    }
    .ac {
        margin-right: 5px;
    }
    .bu {
        margin-left: 20px;
    }
    p {
        margin-right: 20px;
        transition: all 1.5s;
    }
}
.hiddenBoxText {
    opacity: 0;
}
.boxSign {
    position: absolute;
    top: -30px;
    right: 0px;
    border: 2px solid black;
    padding: 3px;
            animation: sign 2s;
            animation-iteration-count: infinite;
}

.boxSignHide {
    display: none;
}
