$thin: 100;
$light: 300;
$regular: 400;
$bold: 900;
$headingColor: #31364c;
$headingColorAlt: #9699a6;


$red: #f04e4e;
$orange: #ff9700;
$yellow: #fecc17;
$blue: #00bff3;
$green: #ccdb38;
$purple: #6739b6;