$thin: 100;
$light: 300;
$regular: 400;
$bold: 900;
$headingColor: #31364c;
$headingColorAlt: #9699a6;


$primary: #ebe6e0;
// $primary: #e0e0e0;
$secondary: #f6f5f1;
$primaryL: #ebe6e093;
$secondaryL: #f6f5f188;
$primaryXL: #ebe6e03d;
$secondaryXL: #f6f5f138;
$red: #f04e4e;
$orange: #ee5a28;
$yellow: #fecc17;
$blue: #00bef3;
$green: #91b461;

