@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

section {
  padding-top: 100px;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.3rem;
  font-weight: 300;
}

h5 {
  font-size: 1.2rem;
  font-weight: 100;
}

a {
  font-size: 1rem;
  font-weight: 400;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes sign {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes sign {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes colorChange {
  0% {
    color: #ee5a28;
  }
  25% {
    color: #00bef3;
  }
  50% {
    color: #91b461;
  }
  75% {
    color: #ee5a28;
  }
  100% {
    color: #00bef3;
  }
}
@keyframes colorChange {
  0% {
    color: #ee5a28;
  }
  25% {
    color: #00bef3;
  }
  50% {
    color: #91b461;
  }
  75% {
    color: #ee5a28;
  }
  100% {
    color: #00bef3;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  background-color: rgba(17, 15, 15, 0.829);
  position: fixed;
  top: 0px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 100;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.navTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navTitle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navTitle h4 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6f5f1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.navTitle h4:hover {
  color: #00bef3;
}
.navTitle h4:hover .koki {
  color: #91b461;
}
.navTitle h4 img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.navTitle h4 img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.koki {
  color: #ebe6e0;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navAnimation {
  visibility: hidden;
  top: -10vh;
}

.navListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.navListContainer li {
  padding-left: 50px;
}
.navListContainer a {
  text-decoration: none;
  color: #ebe6e0;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.navListContainer .anchorHome:hover {
  color: #00bef3;
  border-top: 5px solid #00bef3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navListContainer .anchorAbout:hover {
  color: #f6f5f1;
  border-top: 5px solid #f6f5f1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navListContainer .anchorSkills:hover {
  color: #91b461;
  border-top: 5px solid #91b461;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navListContainer .anchorProjects:hover {
  color: #ebe6e0;
  border-top: 5px solid #ebe6e0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navListContainer .anchorContact:hover {
  color: #ee5a28;
  border-top: 5px solid #ee5a28;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navButtonContainer {
  position: absolute;
  right: 0;
  bottom: -30%;
  -webkit-transition: top 0.5s linear;
  transition: top 0.5s linear;
}
.navButtonContainer .navButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 70px;
  background: transparent;
  border: none;
}
.navButtonContainer .navButton img {
  height: 30px;
  width: 30px;
}

.pnHidden {
  visibility: hidden;
  opacity: 0;
}

.pnVisible {
  visibility: visible;
  opacity: 1;
  position: absolute;
  right: 60px;
  top: 105px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 900;
  background-color: rgba(17, 15, 15, 0.829);
  color: #f6f5f1;
  border-radius: 20px;
  padding: 5px 10px;
}

.buttonAnimation {
  visibility: visible;
  bottom: -70px;
}
.buttonAnimation img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.buttonAnimation img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.socials {
  position: fixed;
  top: 40%;
  left: 0;
}

.socialsPosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialsList {
  background-color: rgba(133, 133, 133, 0.521);
  border-radius: 20px;
  padding: 5px 0;
  position: relative;
  left: 0px;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 1;
}
.socialsList a {
  display: block;
  margin: 10px;
}
.socialsList img {
  height: 50px;
  width: 50px;
  background-color: #f6f5f1;
  border-radius: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.socialsList img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.socialAnimation {
  visibility: hidden;
  left: -10vh;
}

.socialsButtonContainer {
  position: absolute;
  top: -3%;
  right: -5%;
  width: 25px;
  height: 25px;
  z-index: 10;
}
.socialsButtonContainer .socialsButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  background: transparent;
  border: none;
  -webkit-animation-name: buttonFade;
          animation-name: buttonFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  left: -35px;
}
.socialsButtonContainer .socialsButton img {
  height: 20px;
  width: 20px;
}
.socialsButtonContainer .pHidden {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  font-weight: 900;
  font-size: 1.2rem;
  visibility: hidden;
  left: 40px;
}
.socialsButtonContainer .pVisible {
  visibility: visible;
  position: absolute;
  left: -40px;
  top: 6vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(17, 15, 15, 0.829);
  color: #f6f5f1;
  border-radius: 20px;
  padding: 10px 0px;
  -webkit-transition: left 0.4s linear;
  transition: left 0.4s linear;
}

.socialButtonAnimation {
  position: absolute;
  left: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.socialButtonAnimation:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.scrollPoints {
  position: fixed;
  right: 10px;
  top: 50%;
}
.scrollPoints img {
  height: 10px;
  width: 10px;
}
.scrollPoints img:hover, .scrollPoints img:focus {
  background-color: rgba(255, 0, 0, 0.562);
  border-radius: 50%;
}

main {
  background-color: #f6f5f1;
}

.home {
  background-color: #ebe6e0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.home h1 {
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeImage {
  padding: 50px;
}

.about {
  min-height: 100vh;
  background-color: #f6f5f1;
}
.about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutLeftFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

.aboutLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.aboutLeft img {
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutLeft .imgMe {
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  text-align: center;
  margin: 20px;
}
.aboutLeft .aboutLeftText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebe6e0;
  border-radius: 50px;
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  text-align: center;
  margin: 20px;
  height: calc(50% - 40px);
}
.aboutLeft .aboutLeftText h3 {
  margin-bottom: 30px;
}
.aboutLeft .aboutLeftText p {
  line-height: 1.5rem;
}
.aboutLeft .aboutLeftText .leftTextLast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  padding: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  text-align: left;
}

.aboutRight {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutRightImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.aboutRightImages img {
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutRightImages .textCover {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 15, 15, 0.829);
  color: #f6f5f1;
  border-radius: 50px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 10px;
}
.aboutRightImages .textCover img {
  width: 100%;
  height: 100%;
}
.aboutRightImages .textCover p {
  font-size: 1rem;
}
.aboutRightImages .textPC img {
  width: 16.6666666667%;
  height: 110px;
  width: 110px;
  min-width: 100px;
  min-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.aboutRightImages .textPC img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.aboutRightImages .textBike img {
  margin-top: 20px;
  width: 70%;
  height: 70%;
}
.aboutRightImages .bikeDesc {
  margin-top: 10px;
}
.aboutRightImages .hoverIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.aboutRightImages .hoverIconContainer a {
  width: 25%;
  min-width: 100px;
}
.aboutRightImages .img {
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(50% - 40px);
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  text-align: center;
  margin: 20px;
}
.aboutRightImages .img:hover > div, .aboutRightImages .img:focus > div {
  opacity: 1;
}

.skills {
  min-height: 60vh;
  background-color: #ebe6e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0;
}

.skillsText span {
  position: relative;
}

.skillsText img {
  position: absolute;
  width: 80px;
  height: 100px;
  top: -20px;
}

.leftSkills {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.rightSkills {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.skillsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.skillsWrapper h2 {
  margin-bottom: 20px;
}
.skillsWrapper h4 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.skillsWrapper h5 {
  position: relative;
  font-size: 3.6rem;
  text-transform: uppercase;
  margin: 0;
  color: black;
  -webkit-transition: all 4s ease-in;
  transition: all 4s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.skillsIcons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: transparent;
  margin-top: 20px;
  width: 25%;
  min-width: 100px;
}
.skillsIcons li:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  color: #ee5a28;
  -webkit-animation: colorChange 2s infinite;
          animation: colorChange 2s infinite;
}
.skillsIcons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin: 20px 35px 5px 35px;
  color: black;
}

.extrasContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.extrasContainer img {
  height: 70px;
  width: 70px;
  margin: 10px 30px 12px 30px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.extrasContainer img:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  color: #ee5a28;
}

.boxContainer {
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.boxContainer .boxOpen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 110px;
  width: 110px;
  opacity: 1;
  z-index: 10;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.boxContainer .boxClosed {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  height: 110px;
  width: 110px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 20;
  opacity: 1;
}
.boxContainer .boxClosed:hover {
  cursor: url("../assets/questionmark.png"), auto;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #ee5a28;
}
.boxContainer .boxFade {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.boxContainer .boxAppear {
  opacity: 0;
  scale: 1.2;
}

.imageStartPosition {
  position: absolute;
  height: 90px;
  width: 90px;
  left: -65px;
  top: -100px;
  opacity: 0;
  z-index: 1;
}

.hiddenR {
  opacity: 1;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.hiddenA {
  opacity: 1;
  position: absolute;
  top: 10px;
  left: -200px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hiddenD {
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 70px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.finalR {
  opacity: 1;
  position: absolute;
  top: -100px;
}

.finalA {
  opacity: 1;
  position: absolute;
  top: -100px;
  left: -200px;
}

.finalD {
  opacity: 1;
  position: absolute;
  top: -100px;
  left: 70px;
}

.boxText span {
  margin: 0 25px;
}
.boxText .re {
  margin-right: 15px;
}
.boxText .ac {
  margin-right: 5px;
}
.boxText .bu {
  margin-left: 20px;
}
.boxText p {
  margin-right: 20px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.hiddenBoxText {
  opacity: 0;
}

.boxSign {
  position: absolute;
  top: -30px;
  right: 0px;
  border: 2px solid black;
  padding: 3px;
  -webkit-animation: sign 2s;
          animation: sign 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.boxSignHide {
  display: none;
}

.projects {
  background-color: #f6f5f1;
  min-height: 100vh;
  padding-bottom: 100px;
}
.projects span {
  font-size: 1.1rem;
  padding: 4px 8px;
  margin: 5px;
  display: inline-block;
  border-radius: 15px;
}
.projects span.html {
  background-color: rgba(133, 133, 133, 0.4);
}
.projects span.css {
  background-color: rgba(133, 133, 133, 0.4);
}
.projects span.javaScript {
  background-color: rgba(133, 133, 133, 0.4);
}
.projects span.restAPI {
  background-color: rgba(133, 133, 133, 0.4);
}
.projects h2 {
  text-align: center;
  margin-bottom: 50px;
}
.projects h4 {
  margin: 5px 0;
}
.projects a.liveLink {
  font-size: 0.8rem;
  text-decoration: none;
  color: #91b461;
  padding: 4px 10px;
  border-radius: 15px;
  background-color: #ebe6e0;
  border: 2px solid #91b461;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.projects a.liveLink:hover {
  background-color: #91b461;
  border: 2px solid transparent;
  color: #f6f5f1;
}
.projects a.codeLink {
  font-size: 0.8rem;
  background-color: #ebe6e0;
  text-decoration: none;
  color: #ee5a28;
  padding: 4px 10px;
  border-radius: 15px;
  border: 2px solid #ee5a28;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.projects a.codeLink:hover {
  background-color: #ee5a28;
  border: 2px solid transparent;
  color: #f6f5f1;
}
.projects p {
  margin-bottom: 5px;
  font-weight: 300;
}

.projectLinks {
  margin-top: 10px;
}

.projectOne {
  margin-bottom: 20px;
  padding: 20px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #ebe6e0;
}

.projectOneWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.projectOneText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  width: 50%;
  padding: 20px;
}
.projectOneText a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.projectOneText a:hover {
  color: #00bef3;
}

.projectOneImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectOneImage .img {
  background-color: #ebe6e0;
  border-radius: 50px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.projectTwo {
  margin-bottom: 20px;
  padding: 20px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #ebe6e0;
}

.projectTwoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  min-height: 35vh;
}

.projectTwoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 50%;
  padding: 20px;
}

.projectTwoImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectTwoImage .img {
  background-color: #ebe6e0;
  border-radius: 50px;
  padding: 20px;
  width: 80%;
  height: 100%;
}

.projectThree {
  padding: 20px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #ebe6e0;
}

.projectThreeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  min-height: 35vh;
}

.projectThreeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  width: 50%;
  padding: 20px;
}

.projectThreeImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectThreeImage .img {
  background-color: #ebe6e0;
  border-radius: 50px;
  padding: 20px;
  width: 80%;
  height: 100%;
}

.contact {
  min-height: 95vh;
  background-color: #ebe6e0;
}
.contact h2 {
  text-align: center;
}

.formWrapper {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formText {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formText a {
  margin-top: 40px;
  text-decoration: none;
  color: #ebe6e0;
}
.formText a span {
  background-color: rgba(17, 15, 15, 0.829);
  border: 2px solid rgba(17, 15, 15, 0.829);
  border-radius: 20px;
  padding: 5px 15px;
}
.formText a span:hover {
  background-color: #ebe6e0;
  color: rgba(17, 15, 15, 0.829);
}
.formText h2 {
  position: relative;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: left;
}
.formText p {
  padding: 10px 0;
  line-height: 1.5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  min-width: 620px;
  margin-left: 50px;
}
form textarea {
  width: 100%;
  resize: none;
  background-color: #f6f5f1;
  border: 2px solid #ebe6e0;
  line-height: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
}
form textarea:focus {
  outline: 2px solid #00bef3;
}
form .formInputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
form .nameInput,
form .emailInput {
  margin: 0;
  padding: 5px 0;
  width: calc(50% - 1px);
  text-align: center;
  background-color: #f6f5f1;
  border: 2px solid #ebe6e0;
  border-radius: 10px;
}
form .nameInput:focus,
form .emailInput:focus {
  outline: 2px solid #00bef3;
}
form .formButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .buttonInputSend {
  width: 300px;
  margin: 20px 0;
  background-color: #f6f5f1;
  border: 2px solid #ebe6e0;
  padding: 5px 0;
  border-radius: 10px;
}
form .buttonInputSend:hover {
  background-color: #91b461;
  color: #ebe6e0;
}
form .buttonInputClear {
  width: 300px;
  margin: 20px 0;
  background-color: #f6f5f1;
  border: 2px solid #ebe6e0;
  padding: 5px 0;
  border-radius: 10px;
}
form .buttonInputClear:hover {
  background-color: #ee5a28;
  color: #ebe6e0;
}

footer {
  min-height: 5vh;
  background-color: #f6f5f1;
}